<div class="container">
  <h2>To do list</h2>

  <!-- to do input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="Entrer une tâche" class="form-control">
        <span class="input-group-btn">
          <input type="submit" value="add" class="btn btn-warning">
        </span>
      </div>
    </div>
  </form>

  <p class="input-group" ng-repeat="todo in todos">
    <input type="text" ng-model="todo" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">&times;</button>
    </span>
  </p>
</div>
